h2
{
  font-size: larger;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
section, article
{
  margin:0px 75px 25px;
  padding: 5px;
}

ul
{
  list-style-type: square;
  padding-left: 25px;
}

p
{
  width: 60%;
}

#header
{
  /* background-image: url("../img/bannerGradienta.jpg"); */
  /* background-origin: content-box; */
  /* background-repeat: no-repeat; */
  /* background-size: 90%; */
  height:80px;
  background-image: linear-gradient(to bottom right, blue,white);
  position:fixed;
  top:0;
  width:100%;
}

#headH1
{
  text-align: center;
  color: blue;
  padding-top: 20px;
  padding-bottom:20px;
  font-size: 2.5em;
  font-weight: bold;
}

#mainBody
{
  height:100vh;
  background-image: url("../img/brickWall.jpg");
  background-color: aqua;
  background-size: cover;
  margin-top: 80px;
  
}

#welcomeMsg
{
  padding-top: 10px;
  font-family: monospace;
  text-align: center;
  color: orangered;
}

/* #shortBio
{

}

#bioHead
{

}
#eduHistory
{


}

#jobExp
{

}

#goals
{

} */