*{
  scroll-behavior: smooth;
}
h2
{
  font-size: larger;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
section, article
{
  margin:0px auto 300px auto;
  padding: 5px;
  max-width: 50%;
}

ul
{
  list-style-type: square;
  padding-left: 25px;
}

li
{
  margin:5px;
}

ol
{
  list-style:upper-roman;
  padding-left: 25px;
}

ul ul 
{
  list-style-type: disc;
}

#header
{
  height:10vh;
  background-image: linear-gradient(to bottom right, blue,white);
  position:fixed;
  top:0;
  width:100%;
  z-index: 2;
}

#headH1
{
  text-align: center;
  color: blue;
  padding-top: 2vh;
  padding-bottom:2vh;
  font-size: 2.5em;
  font-weight: bold;
  max-height:fit-content;
}

#mainBody
{
  height:auto;
  background-image: url("../img/brickWall.jpg");
  background-color: aqua;
  background-size: cover;
  margin-top: 10vh;
  
}

#welcomeMsg
{
  margin: 0px auto 20px;
  padding: 10px 5px;
  font-family: monospace;
  font-weight: 500;
  font-size: 1.25em;
  text-align: center;
  color: orangered;
}

#hs_img{
  position: absolute;  
  top:30px;
  left:-250px;
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border:3px solid navy;
}

#dog_img{
  position: absolute;  
  top:30px;
  left:-250px;
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border:3px solid navy;
}

#construction_img{
  position: absolute;  
  top:30px;
  left:-250px;
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border:3px solid navy;
}

#clipboard_img{
  position: absolute;  
  top:30px;
  left:-250px;
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border:3px solid navy;
}

#moviereel_img{
  position: absolute;  
  top:30px;
  left:-250px;
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border:3px solid navy;
}

#shortBio
{
  position:relative;
}

#eduHistory
{
position: relative;
}

#jobExp
{
  position: relative;
}

#goals
{
position: relative;
}

#topTen{
  position:relative;
  margin-bottom: 0px;
}

#topTen a:visited{
  color:crimson;
}

#topTen a:hover{
  border: 3px dotted navy;
}

#backToTop{
  position: absolute;
  left: 600px;
  width:fit-content;
  
}

